In [1]:
from sklearn.datasets import load_iris
iris = load_iris()
iris.data.shape

(150, 4)

In [2]:
import pandas as pd
df_iris=pd.DataFrame(iris.data)
df_iris.columns=iris.feature_names
df_iris['Species']=iris.target
df_iris.sample(7)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
45,4.8,3.0,1.4,0.3,0
38,4.4,3.0,1.3,0.2,0
102,7.1,3.0,5.9,2.1,2
99,5.7,2.8,4.1,1.3,1
12,4.8,3.0,1.4,0.1,0
15,5.7,4.4,1.5,0.4,0
95,5.7,3.0,4.2,1.2,1

In [3]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal length (cm)    150 non-null float64
sepal width (cm)     150 non-null float64
petal length (cm)    150 non-null float64
petal width (cm)     150 non-null float64
Species              150 non-null int32
dtypes: float64(4), int32(1)
memory usage: 5.4 KB

In [4]:
from sklearn.model_selection import train_test_split

features=df_iris[df_iris.loc[:,df_iris.columns!='Species'].columns]
target=df_iris['Species']
x_train,x_test,y_train,y_test=train_test_split(features,target,test_size=0.2,random_state=33)

In [5]:
x_train.shape
x_train.head()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
94                 5.6               2.7                4.2               1.3
86                 6.7               3.1                4.7               1.5
121                5.6               2.8                4.9               2.0
115                6.4               3.2                5.3               2.3
140                6.7               3.1                5.6               2.4

In [10]:
from sklearn.linear_model import LogisticRegression  #从sklearn中引入逻辑回归
from sklearn.preprocessing import StandardScaler  # 引入StandardScaler进行标准化处理

#分别对训练和测试数据进行标准化
ss=StandardScaler()
x_train=ss.fit_transform(x_train)
x_test=ss.transform(x_test)

#使用逻辑回归分类器对测试集进行预测，预测结果保存到y_pred中
lr=LogisticRegression(solver="lbfgs")  #进行初始化
lr.fit(x_train,y_train)  #进行训练
y_pred=lr.predict(x_test) #进行预测

In [7]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred,target_names=iris.target_names))

             precision    recall  f1-score   support

     setosa       1.00      1.00      1.00         8
 versicolor       0.78      0.88      0.82         8
  virginica       0.92      0.86      0.89        14

avg / total       0.90      0.90      0.90        30

In [9]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred,target_names=iris.target_names))

             precision    recall  f1-score   support

     setosa       1.00      1.00      1.00         8
 versicolor       0.78      0.88      0.82         8
  virginica       0.92      0.86      0.89        14

avg / total       0.90      0.90      0.90        30

In [11]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred,target_names=iris.target_names))

             precision    recall  f1-score   support

     setosa       1.00      1.00      1.00         8
 versicolor       0.78      0.88      0.82         8
  virginica       0.92      0.86      0.89        14

avg / total       0.90      0.90      0.90        30